<div class="container">
  <div class="well">
    <%= link_to "New Zona", new_zona_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-zona"></div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Clima</th>
        <th>Temperatura</th>
        <th>Humitat</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody class="zona-index">
      <%= render "index" %>
    </tbody>
  </table>
</div>
<div id="zona-modal" class="modal fade"></div>
